body {
    width: 1500px;
    height: auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}
.header__logo-image {
    padding: 30px;
}
.header__menu {
    display: flex;
}
.header__menu-item {
    margin-top: 50px;
    margin-right: 40px;
    color: #6F6F6F;
}

.first-view {
    position: relative;
}
.first-view__image {
    display: inline-block;
    margin-left: 550px;
    width: 50%;
}

h1 {
    position: absolute;
    top: 80px;
    left: 230px;
    width: 800px;
    font-size: 75px;
    font-family: 'Indie Flower', cursive;
    color: #AE1862;
    line-height: 100px;
}
h1 span {
    color: #0B9FB0;
}
h2 {
    position: absolute;
    top: 330px;
    left: 230px;
    font-size: 25px;
    color: #AE1862;
    margin-top: 30px;
}
h2 span {
    color: #0B9FB0;
}
.first-view__text {
    position: absolute;
    top: 400px;
    left: 230px;
    line-height: 25px;
    color: #6F6F6F;
}

.news {
    width: auto;
    padding: 200px 0px 200px 300px;
}
.news__logo {
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    color: #AE1862;
    margin-bottom: 10px;
}
.news__title {
    font-size: 22px;
    margin-bottom: 40px;
    color: #6F6F6F;
}
.news__list {
    width: 70%;
    border-top: solid 2px #D8D8D8;
    border-bottom:  solid 2px #D8D8D8;
    padding-top: 15px;
    padding-bottom: 30px;
}
.news__list-item {
    list-style: none;
    padding: 20px 0px;
    border-bottom: solid 1px #D8D8D8;
    color: #6F6F6F;
    width: 100%;
}
.news__list-item span {
    padding: 5px 15px;
    margin: 0px 40px;
    background-color: #AE1862;
    color: white;
    border-radius: 30px;
}

.about__content {
    background-color: #F5F5F5;
}
.about__logo {
    text-align: center;
    font-size: 15px;
    font-family: 'Indie Flower', cursive;
    color: #AE1862;
    margin-bottom: 15px;
    padding-top: 50px;
}
.about__title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    color: #6F6F6F;
}
.about__text {
    display: inline-block;
    line-height: 30px;
    width: 390px;
    margin-left: 280px;
}
.about__text-item {
    color: #6F6F6F;
}
.about__image {
    display: inline-block;
    text-align: right;
    margin-top: -105px;
    margin-left: -220px;
    margin-bottom: 30px;
    width: 100%;
}

.service__logo {
    font-size: 15px;
    font-family: 'Indie Flower', cursive;
    color: #AE1862;
    margin-bottom: 15px;
    padding-top: 50px;
    padding-left: 280px;
}
.service__title {
    font-size: 20px;
    margin-bottom: 40px;
    color: #6F6F6F;
    padding-left: 280px;
}

.service__item {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    margin: 0 0 60px 280px;
}
.item-box1 {
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 40px;
    color: white;
    text-align: center;
    line-height: 25px;
    background-color: #B31767;
}
.item-box2 {
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    line-height: 25px;
    padding: 25px;
    background-color: #B35B8B;
}
.item-box3 {
    grid-column: 2/3;
    grid-row: 2/3;
    color: white;
    line-height: 25px;
    padding: 25px;
    background-color: #B2889B;
}
.item__image img {
    padding-top: 10px;
}
.item__title1 {
    font-weight: bold;
    font-size: 17px;
    margin: 15px;
}
.item__title {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 15px;
}
.item-right {
    margin: -110px 0px 0px 150px;
}

.blog {
    background-color: #F5F5F5;
}
.blog__logo {
    font-size: 15px;
    font-family: 'Indie Flower', cursive;
    color: #AE1862;
    margin-bottom: 15px;
    padding-top: 50px;
    padding-left: 280px;
}
.blog__title {
    font-size: 20px;
    margin-bottom: 40px;
    color: #6F6F6F;
    padding-left: 280px;
}
.blog__content {
    display: flex;
    justify-content: center;
}
.blog__card {
    position: relative;
    width: 250px;
    height: 310px;
    margin-right: 70px;
    background-color: white;
    border-radius: 20px;
}
.blog__card-image img {
    border-radius: 20px 20px 0px 0px;
}
.blog__card-image-tag {
    display: inline;
    position: absolute;
    top: 0;
    width: 50px;
    height: 20px;
    background-color: #AE1862;
    color: white;
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
    border-top-left-radius: 20px;
}
.blog__card-title {
    padding: 15px;
    margin-top: 12px;
    font-size: 15px;
    color: #6F6F6F;
    font-weight: bold;
    line-height: 25px;
}
.blog__card-tag {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.blog__card-tag-item {
    color: #6F6F6F;
    font-size: 12px;
}
.blog__card-tag-item--last {
    color: #6F6F6F;
    font-size: 12px;
}
.blog__button {
    display: inline-block;
    text-align: center;
    background-color: white;
    border: solid 1px #AE1862;
    color: #AE1862;
    border-radius: 30px;
    width: 200px;
    padding: 20px;
    margin: 50px 0 50px 600px;
}

.company__logo {
    font-size: 15px;
    font-family: 'Indie Flower', cursive;
    color: #AE1862;
    margin-bottom: 15px;
    padding-top: 50px;
    padding-left: 380px;
}
.company__title {
    font-size: 20px;
    margin-bottom: 40px;
    padding-left: 380px;
    color: #6F6F6F;
}
.company__profile {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.company__profile, .profile__left, .profile__right {
    border: 1px solid #D8D8D8;
    padding: 20px;
}
.profile__left {
    width: 200px;
    text-align: left;
    color: #6F6F6F;
    background-color: #F5F5F5;
}
.profile__right {
    color: #6F6F6F;
    width: 450px;
}
.company__image {
    display: flex;
}
.company__image-left {
    position: relative;
    width: 750px;
}
.company__text-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.company__image-right {
    position: relative;
    width: 750px;
}
.company__text-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.contact__item {
    text-align: center;
}
.contact__text {
    position: relative;
    padding-top: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #6F6F6F;
}
.contact__text::after {
    position: absolute;
    content: "";
    top: 100px;
    width: 2px;
    height: 40px;
    background-color: #AE1862;
}
.contact__button {
    position: relative;
    background: linear-gradient(90deg,#FD208E,#B41664);
    width: 200px;
    display: block;
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    margin: 100px auto;
    box-shadow: 0px 7px 0px #840151;
}
.contact__button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25px;
    background: url(../メールアイコン（白線のみ）.png) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translate(0,-50%);
}
.footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #6F6F6F;
    background-color: #F5F5F5;
}